@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(19, 17, 17);
    color: rgb(236, 222, 222);
}

/* ____________________________ */
/* CSS comments in the house... */
/* ____________________________ */

.menu-items {
    height: 1rem;
    font-size: 80%;
    background-color: #767676;
    color: yellow;
    transition: 1s ease;
}

.menu-items button {
    height: 0.8rem;
    font-size: 0.6rem;
    background-color: #464646;
    color: white;
    cursor: pointer;
}

.text-entry {
    background-color: #464646;
    height: 40rem;
    width: 20rem;
}

.light-mode button {
    background-color: bisque;
    color: rgb(19, 17, 17);
    transition: 1s ease;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    background-color: #464646;
    color: whitesmoke;
    font-size: 1rem;
    transition: 1s ease;
}

.light-mode {
    background-color: #ebe8e8;
    color: black;
    transition: 1s ease;
}
